<div class="border-primary mt-3">
    <h3 class="text-center ">Agregar Nueva Tarea</h3>
    <hr>
    <form 
    [formGroup]="tareaForm"
    (submit)="OnFormSubmit()"
    autocomplete="off">
      <div>
        <div class="form-floeating mb-2">
            <label for="titulo">*Titulo
            </label>
            <input  class="form-control" 
            formControlName="titulo"
            type="text" 
            id="titulo" 
            placeholder="">
        </div> 
        <span 
        *ngIf="isFieldValid('titulo')"
        class="text-danger">
            El titulo es requerido y tiene que tener por lo menos 5 caracteres
        </span>
      </div>
        <div>
            <div class="form-floeating mb-2">
                <label for="descripcion">*Descripcion
                </label>
                <textarea id="descripcion"
                formControlName="descripcion" 
                class="form-control"
                rows="10" 
                placeholder=""></textarea>
            </div>
            <span 
            *ngIf="isFieldValid('descripcion')"
            class="text-danger">
            La descripción es requerida y tiene que tener por lo menos 5 caracteres
            </span>
        </div>
        <button type="submit" 
        class="btn btn-primary mt-2">Guardar</button>
    </form>
</div>