<div class="border-primary mt-3">
    <h3 class="text-center ">Agregar Nueva Tarea</h3>
    <hr>
    <form >
        <div class="form-floeating">
            <label for="titulo">Titulo
            </label>
            <input  class="form-control" type="text" 
            id="titulo" 
            placeholder="">
        </div>
        <div class="form-floeating">
            <label for="descripcion">Descripcion
            </label>
            <textarea id="descripcion" 
            class="form-control"
            rows="10" 
            placeholder=""></textarea>
        </div>
        <button type="submit" 
        class="btn btn-primary mt-2">Guardar</button>
    </form>
</div>