<h2 class="text-center">Menu</h2>
<hr>
<h3 class="text-center">Tareas</h3>
<hr>
<ul class="list-group w-100">
    <li class="list-group-item w-100 text-center" 
    *ngFor="let item of tareaMenuItems"
    [routerLink]="[item.route]"
    [routerLinkActive]="'active'"
    >
    {{item.text}}
    </li>
</ul>
<hr>
<h3 class="text-center">Paises</h3>
<hr>
<ul class="list-group w-100">
    <li class="list-group-item w-100 text-center" 
    *ngFor="let item of paisesMenuItems"
    [routerLink]="[item.route]"
    [routerLinkActive]="'active'"
    >
    {{item.text}}
    </li>
</ul>
