<div *ngIf="country;else NoCountry">
    <div class="card border-primary p-1 col-6 col-sm-6 col-md-6 col-md-12">
          <!--Tarea es reconstruir la tarjeta que va aqui y que el ver pais jale-->
          <img class="card-img-top" 
          src="{{country.flags.svg}}" 
          alt="{{country.flags.alt}}">
          <div class="card p-1 mt-2 border-secondary">
              <h3 class="text-center">{{country.flag}} {{country.name.common}}</h3>
              <hr>
              <div class="d-flex justify-content-between">
                <div><strong>Official:</strong></div>
                <div class="text-end">{{country.name.official}}</div>
              </div>
              <div class="d-flex justify-content-between">
                <div><strong>Native:</strong></div>
                <div class="text-end">{{nativeName}}</div>
              </div>
          </div>
          <div class="card p-1 mt-2 boder-secondary">
            <div class="d-flex justify-content-between">
                <div><strong>Capital:</strong></div>
                <div class="text-end">{{country.capital[0]}}</div>
              </div>
              <div class="d-flex justify-content-between">
                <div><strong>Population:</strong></div>
                <div class="text-end">{{country.population}}</div>
              </div>
          </div>
        <div class="card-footer text-center">
            <a routerLink="/paises/ver-pais/{{country.cca3}}"
            class="btn btn-primary">Ver más...</a>
        </div>
    </div>
</div>
<ng-template #NoCountry>
    <div class="bg-danger">
        <h4 class="text-center text-white">
            No se recibio un país
        </h4>
    </div>
</ng-template>